/*!
 * Common CSS files
 */
/*!
 * Common CSS files
 */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #858585;
    font-weight: 400;
    background-color: #f3f3f3;
}

.contentContainer {
    padding: 30px 0 30px 0;
    position: relative;
}

.imgResponsive {
    width: 100%;
}

a {
    color: #9c756f;
    text-decoration: none;
}

a:hover {
    color: #00cae6;
}
a.text-blue {
    color: #00cae6;
}
a.text-blue:hover {
    color: #9c756f;
}
.positionRelative {
    position: relative;
}

.clearfix {
    clear: both;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.flexCol {
    display: flex;
}

.m-150 {
    margin-left: 150px;
    margin-right: 150px;
}

b,
strong {
    font-weight: 700;
}

/*----------------------------- Color & Backgrounds ------------------------------------------*/
.greyBg {
    background-color: #8585851a !important;
}    
/*----------------------------- Heading & Buttons ------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Times New Roman, Times, serif;
    color: #2f2f2f;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin: 0 0 22px;
}

h2 {
    font-size: 19px;
    font-weight: 600;
    padding: 0 0 10px 0;
    line-height: 27px;
    margin: 0 0 0px 0;
}
/* Second-level dropdown styles 
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

/* Show submenu on hover 
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}*/
h3 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    padding: 0px 0 0px 0;
    margin: 0 0 15px 0;
}
h4 {
    font-size: 15px;
    line-height: 27px;
    font-weight: 700;
    padding: 0px 0 0px 0;
    margin: 0 0 15px 0;
}

p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

p.highlighted {
    font-weight: 600;
    color: #2f2f2f;
}

ul.listing01 li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

ul.listing01 span {
    font-weight: 600;
}

.middleContentOuter {
    display: flex;
    align-items: center;
    height: 100%;
}

.verticalMiddle {
    width: 100%;
}

.paddingLR200 {
    padding-left: 200px;
    padding-right: 200px;
}
.min-width-auto {
    min-width: inherit !important;
}
.max-width-auto {
    max-width: inherit !important;
}
.min-height-auto {
    min-height: inherit !important;
}
/*----------------------------- Navigation Block ------------------------------------------*/
header {
    padding: 0px 0px 0px 0px;
    position: relative;
    background-color: #fff;
}
.topBar {
    padding: 20px 0px;
}
.navbar-brand {
    padding: 0;
    max-width: 305px;   
}
.site-header-links {
    font-size: 11px;
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
}
.site-header-links a {
    color: #545454;
    font-weight: 700;
        font-size: 12px;
}
span.site-header--spacer {
    padding: 0px 5px;
}
.search-input {
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    height: 44px;
    border: 0 none;
    background-color: #f3f3f3;
    color: #545454;
    outline: none;
    min-width: 255px;
    border: 0px solid #dedede !important;
}
#searchBtn {
    width: 45px;
    margin: 0;
    border: 0 none;
    background: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    background-color: #f3f3f3;
    color: #545454;
}
#searchBtn svg {
    font-size: 18px;
}
.header-cart-btn svg {
    font-size: 16px;
}
.header-cart-btn {
    position: relative;
    line-height: 26px;
    padding-bottom: 10px;
    border: 0 none;
    margin-left: 15px;
    vertical-align: top;
    background-color: #f3f3f3;
    color: #545454;
    padding: 8px 23px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    height: 44px;
}
.cart-count {
    display: inline-block;
    text-align: center;
    background-color: #545454;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
}
.cart-badge-desktop {
    position: absolute;
    top: -5px;
    right: -5px;
}
nav.navbar {
    background: #9c756f;
    padding: 0px 0px;
}
/*.navbar-toggler-icon {
    display: block;
    width: 25px;
    height: 1px;
    margin: 6px 0px;
    border-bottom: 3px solid #fff;
}
.navbar-toggler {
    background-color: #2121de;
    border: 1px solid #2121de;
}*/
.nav-item {
    position: relative;
    padding: 15px 15px 14px 15px;
}
.nav-item:first-child {
    padding-left: 0px !important;
}
.nav-item .nav-link {
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    padding: 0 !important;
    line-height: 20px;
    text-transform: uppercase;
    color: #f2f2f2;
    display: inline-block;
}
.nav-item .nav-link:hover {
    text-decoration: underline;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}
li.nav-item:hover ul.subMenu {
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    transition: all .8s cubic-bezier(.075,.82,.165,1), opacity .4s cubic-bezier(.075,.82,.165,1);

}
span.icon {
    display: inline-block;
    color: #f2f2f2;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
ul.subMenu, ul.subMenu02 {
    padding-left: 0px;
    position: absolute;
    top: 52px;
    left: 0;
    border: 1px solid #dedede;
    background-color: #f3f3f3;
    display: none;
    z-index: 20;
    margin: 0;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
ul.subMenu02 {
    top: 0px;
    left: 100%;
}
.subMenu li:hover ul.subMenu02 {
    display: block;
}
.subMenu li {
    list-style-type: none;
    position: relative;
    margin-bottom: 0px;
}
ul.subMenu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px 45px 5px 15px;
    font-size: 13px;
    color: #9c756f;
    font-weight: 700;
    font-family: Lato, sans-serif;
}
.subMenu li:hover ul.subMenu02 a {
    color: #9c756f;
}
.subMenu li:hover a, .subMenu li ul.subMenu02 li:hover  a {
    color: #805d58;
}
#navbarNavDropdown #searchBox {
    display: none !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/*----------------------------- Content Block ------------------------------------------*/
.collections img {
    margin-bottom: 24px;
}
.breadcrumb {
    font-size: 13px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 0px;
    height: 52px;
    padding: 15px 7px 15px 0;
    margin-right: 7px;
    text-transform: uppercase;
}
.breadcrumb li span {
    padding: 0px 7px 0px 15px;
}
li.flex.items-center {
    display: inline-flex;
}
.faq h3 {
    margin: 0 0 3px 0;
}
.ProductDocumentationList ul {
    padding: 0px;
    columns: 2;
}
.ProductDocumentationList li {
    list-style-type: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    padding: 0px 0 0px 0;
    margin: 0 0 8px 0;
    font-family: Times New Roman, Times, serif;
}
.tableProductDdescription th, .tableProductDdescription td {
    text-align: left;
    padding: 15px;
    border: 1px solid #dedede;
}
.certifications img {
    max-width: 100px;
}
.supportingDocuments .column {
  flex: 1 1 20%; 
  box-sizing: border-box; 
  padding: 10px;
  text-align: center;
  max-width: 20%;
}
.supportingDocuments img {
    margin-bottom: 10px;
}
.contactInfo p {
    margin-bottom: 12px;
}
.contactInfo h3 {
    margin: 8px 0px;
}
/*----------------------------- Product Block ------------------------------------------*/
.categoriesList {
    padding-left: 0px;
    list-style-type: none;
}
.categoriesList li {
    margin-bottom: 5px;
}
.categoriesListCol {
    border-right: 1px solid #dedede;
    padding-right: 15px;
    width: 100%;
}

.headingBar {
    margin-bottom: 25px;
}
.sortBy {
    margin-left: 15px;
    min-height: inherit;
    min-width: inherit;
    margin-bottom: 0px;
}
.product {
    margin-bottom: 30px;
    display: inline-block;
}
.productThumb, .productName {
    margin-bottom: 15px;
}
.productName {
    color: #858585;
    font-weight: 500;
}
.productView {
    border: 1px solid #dedede;
    padding: 8px 6px 3px 6px;
    margin-left: 15px;
    min-width: 58px;
}
.productView svg{
    font-size: 18px;
    color: #858585;
}
a:hover .productName {
    color: #9c756f;
}
.productPrice {
    color: #2f2f2f;
    line-height: 22px;
    font-family: Times New Roman, Times, serif;
    font-weight: 700;
    font-size: 19px;
}
.productListView .col-lg-3.col-sm-4.col-xs-6 {
    width: 100%;
}
.productListView .product {
    display: flex;
    justify-content: space-between;
}
.productListView .productThumb {
    max-width: 20%;
}
.productListView .productName {
    padding: 0px 20px;
    text-align: center;
}
.productListView .productPrice {
    min-width: 75px;
    text-align: right;
}
.pagination {
    margin: 30px 0px;
    list-style-type: none;
    border-top: 1px solid #dedede;
    padding-top: 30px;
    text-align: center;
}
.pagination ul li {
    list-style-type: none;
    display: inline-block;
}
.pagination li a, .pagination li span {
    position: relative;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ababab;
    line-height: 20px;
}
.productLargeThumb {
    padding: 0px 20px;
}
.productQuantity input.form-control.text-center {
    border-radius: 0px;
    background-color: #f3f3f3;
    border-left: 0px !important;
    border-right: 0px !important;
    min-width: inherit;
    margin-bottom: 0px;
    min-height: inherit;
}
.productQuantity button.btn.btn-outline-secondary {
    border-radius: 0px;
    border: 1px solid #dedede;
}
.productDescription {
    border-top: 1px solid #dedede;
    margin: 20px 0px 30px 0px;
    padding-top: 30px;
}
/*----------------------------- Shopping Cart and Account ----------------------------*/
.cart-row {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #dedede;
}
.shoppingCartProducts .productImage {
    max-width: 98px;
}
a.productName {
    font-weight: 400;
    margin-left: 30px;   
}
.shoppingCartProducts button.btn.btn-outline-secondary {
    border-radius: 0px;
    border: 1px solid #dedede;
    padding: 6px 7px;
}
.shoppingCartProducts button svg {
    font-size: 12px;
}
.removeProduct {
    margin-left: 60px;
}
.productPriceOuter .productPrice  {
    font-size: 17px;
    color: #858585;
}
.totalPrice span {
    font-size: 18px;
    color: #2f2f2f;
    padding-left: 15px;
    font-family: Times New Roman, Times, serif;
    font-weight: 700;
}
.modal-body .shoppingCartProducts .productImage {
    max-width: 62px;
}
.modal-body .shoppingCartProducts .cart-row:first-child {
    margin-top: 0px;
    padding-top: 30px;
    border-top: 0px solid #dedede;
}
.CheckoutForm input {
    min-width: inherit !important;
}
.deliveryInformation label {
    display: none;
}
.checkoutCart .productImage {
    width: 50px;
}
.userImage {
    background: #f3f3f3;
    cursor: pointer;
}
.userImage, .userImage img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.userImage:hover a {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 17px;
    transform: translate(-50%, -50%);
    color: #000;
}
.userImage:hover img {
    opacity: 0.4;
}
.userInformation input {
    display: none;
}
.editButton {
    background: #9c756f;
    color: #f3f3f3;
    padding: 5px 20px;
    border-radius: 2px;
}
.editButton:hover {
    background-color: #545454;
    color: #f3f3f3;
}
.myAccountInformation .nav-item {
    padding: 0px;
}
.myAccountInformation .nav-link {
    color: #545454;
    display: inline-block;
    padding: 10px 10px 10px 10px !important;
    border: 0px;
    text-transform: none;
    margin-right: 5px;
}
.myAccountInformation .nav-link:hover, .myAccountInformation .nav-link.active {
    text-decoration: none;
    border: 0px;
    background: #9c756f;
    color: #f3f3f3;
}
.tab-pane {
    padding: 10px 20px 20px;
}
.myAccountInformation .nav-item:first-child {
    margin-left: 10px !important;
}
.table-bordered th {
    background-color: #545454;
}
.table-bordered td {
    background-color: #f3f3f3;
    color: #858585;
}
/*----------------------------- Form Fields ------------------------------------------*/
label, legend {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}
input {
    outline: none;
    border-radius: 2px;
    border: 1px solid #dedede !important;
    padding: 6px 10px 6px 10px;
    min-height: 44px;
    min-width: 260px;
    margin: 0 0 20px;
    box-shadow: none !important;
    background-color: #8585851a;
    color: #858585;
}
select {
    border: 1px solid #dedede;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #f3f3f3;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    padding: 6px 28px 6px 10px;
    color: #858585;
    margin-left: 0px;
    min-height: 44px;
    min-width: 260px;
    margin: 0 0 20px;
    background-color: #8585851a;
}
.customBtn01 {
    background-color: #f3f3f3;
    border: 2px solid #9c756f !important;
    color: #9c756f;
    min-height: 44px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
    min-width: 170px;
}
.customBtn01Fill {
    background-color: #9c756f;
    color: #f3f3f3;
}
.customBtn01:hover, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #545454 !important;
    border: 2px solid #545454 !important;
    box-shadow: none !important;
    color: #f3f3f3 !important;
}
.updateCart {
    background: #f3f3f3 !important;
    color: #858585 !important;
    border: 2px solid #f3f3f3 !important;
}
.form-error, .errors {
    padding: 10px 5px;
    color: #dc0000;
    background-color: #fff6f6;
    border-color: #dc0000;
    text-align: left;
}
/*----------------------------- Footer ------------------------------------------*/
footer {
    background: #fff;
    margin-top: 20px;
    padding: 40px 0 20px 0px;
    color: #545454;
}
.footerNav {
    padding-left: 0px;
}
footer h3 {
    font-size: 16px;
    margin-bottom: 15px !important;
}
.footerNav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px 0 0;
}
.footerNav li a {
    color: #545454;
    font-size: 13px;
    margin-bottom: 0px;
    display: inline-block;
}
.footerNav li a:hover {
    color: #b56634 !important;
    text-decoration: none;
}
.copyRight {
    font-size: 13px;
    border-top: 1px solid #dedede;
    margin-top: 0px;
    padding: 15px 0 0px 0;
    color: #5f5f5f;
}
/*----------------------------- Responsive ------------------------------------------*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1030px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1030px;
    }
}
@media (max-width: 1199px) {
    
}
@media (max-width: 991px) {
 
     .navbar-brand {
        padding: 0;
        max-width: 245px;
    }
    .site-header-links {
        margin-bottom: 7px;
    }
    .search-input {
        min-width: 226px;
    }
    .categoriesList {
        padding-left: 0px;
        list-style-type: none;
        font-size: 13px;
        line-height: 20px;
    }
    h1 {
        font-size: 21px;
        line-height: 28px;
    }
    .sortBy {
        font-size: 13px;
        padding: 6px 18px 6px 6px;
        margin-left: 4px;
        background-position: right 1px center;
    }
    .productView {
        margin-left: 5px;
        min-width: 55px;
    }
    .productView svg {
        font-size: 16px;
    }
    .productSizes select {
        width: 100%;
    }
}
@media (max-width: 767px) {

    .productList .d-flex.justify-content-between {
        display: block !important;
    }
    .categoriesListCol {
        border-right: 0px solid #dedede;
        display: none;
    }
    .filterSelect {
        margin-bottom: 25px;
    }
    .productPrice {
        font-size: 17px;
    }
    .pagination {
        margin-top: 0px;
    }
    .footerNav {
        text-align: left;
    }
    h1.mb-0.w-100 {
        margin-bottom: 22px !important;
    }
    .filterSelect.w-100.d-flex.align-items-center.justify-content-end {
        justify-content: space-between !important;
    }
    .productLargeThumb {
        padding: 0px 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    .productLargeThumb .imgResponsive {
        width: inherit;
        margin: 0px auto;
    }
    .supportingDocuments a {
        font-size: 13px;
        line-height: 20px;
    }
    .news img {
        margin-bottom: 10px;
    }
    .news.mb-5 {
        margin-bottom: 30px  !important;
    }
    .news p {
        margin-bottom: 10px  !important;
    }
    .userInformation {
        margin-top: 15px;
    }
    .searchHeader, .site-header-links {
        display: none !important;
    }
    nav.navbar {
        padding: 8px 0px;
    }
    .navbar-toggler {
        padding: 3px 5px;
        background-color: #f3f3f3;
        border: 0px;
    }
    #navbarNavDropdown #searchBox {
        display: flex !important;
        margin-bottom: 10px;
    }
    .nav-link.d-none {
        display: inline-block !important;
    }
    ul.subMenu li a {
        padding: 5px 10px 5px 10px;
    }
    .navbar-brand {
        margin: 0px auto;
    }
    .d-flex.align-items-end.topIcons.flex-column {
        position: absolute;
        right: 12px;
        top: 101px;
        z-index: 1;
    }
    .navbar-collapse {
        padding-top: 15px;
    }
    .navbar-expand-lg .navbar-nav {
        align-items: start;
    }
    .nav-item:first-child {
        padding-left: 5px !important;
    }
    .nav-item {
        width: 100%;
        padding: 8px 10px 7px 5px;
    }
    ul.subMenu, ul.subMenu02 {
        position: relative !important;
        top: 0px;
        width: 100%;
    }
    ul.subMenu02 {
        width: 90%;
        display: block;
        left: 15px;
        border-left: 0px solid #dedede;
        border-right: 0px solid #dedede;
    }
}
@media (max-width: 575px) {
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-4 {
        width: 33%;
    }
    .supportingDocuments .column {
        flex: 1 1 30%;
        max-width: 100%;
    }
    .checkoutCart .col-md-8  {
        width: 70%;
    }
    .checkoutCart .col-md-4  {
        width: 30%;
    }
}
 @media (max-width: 480px) {
    
}

@media (min-width: 767px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

.subMenuIcon {
    font-size: 11px;
    margin-left: 5px;
}